@import "../base/colors";
@import "../base/fonts";
@import "../base/mixins";

.main-planets {
    h1 {
        @include page-header;
    }

    p {
        @include header-paragraph;
    }
}

.planets-card {
    transition: 0.35s;

    h2 {
        font-family: $special-title;
    }

    &:hover {
        transform: scale(1.015);
    }
}
