
// color library taken from ig @starwars.colors and pinterest

$imperial-black: rgba(0, 0, 0, 0.9);
$imperial-black-secondary: rgb(12, 12, 12);
$hoth-white: rgb(217, 223, 225);
$hoth-white-low: rgba(217, 223, 225, 0.05);
$bastila-yellow: rgb(255, 232, 31);
$anakin-lightblue: #1DF4F7;
$qui-gon-green: #2FF924;