@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// font-family: "Bebas Neue", sans-serif;
// font-family: "Josefin Sans", sans-serif;
// font-family: "Libre Franklin", sans-serif;
// font-family: "Open Sans", sans-serif;

$brand-font: 'Bebas Neue', sans-serif;
$nav-items-font: 'Josefin Sans', sans-serif;
$title-font: 'Josefin Sans', sans-serif;
$special-title: 'Libre Franklin', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;